@font-face {
    font-family: vzr;
    src: url('Vazir.woff');
}
body{
    margin: 0px;
    font-family: vzr;
    overflow-y: hidden;
}
#ludo{
    background-color: red;
    width: 100vw !important;
    height: 75vh !important;
}
#movu{
    background-color: #ff9800;
    height: 15vh;
}
.movu_btn{
    display: inline-block;
    text-align: center;
    width: 49%;
    height: 100%;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
.movu_bildo{
    height: 90%;
    width: 100%;
}
#sano{
    height: 5vh;
    background-color: #ff5252;
}
#spiro{
    height: 5vh;
    background-color: #0288d1;
}
.spaco{
    background-color: #00b4c4;
    height: 10vh;    
}
#spaceto{
    height: 5vh;
}
#menuo{
    background-color: #212121;
    height: 80vh;
    text-align: center;
}
#stato{
    background-color: #c6c6c6;
    padding: 10px;
    font-size: 4vh;
    padding: 10px;
    width: 70vw;
}
#denove{
    background-color: #ffeb3b;
    font-size: 5vh;
    padding: 10px;
    margin-top: 20vh;
    cursor: pointer;
}
#sekve{
    background-color: #03a9f4;
    font-size: 5vh;
    padding: 10px;
    margin-top: 20vh;
    cursor: pointer;
}
.k{
    height: 80%;
    width: 80%;
}